.confirm_informations_page{
    flex:1;
    background-color: rgba(254, 205, 113, 0.07);
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.confirm_informations_page .header{
    flex:0.2;
    /*background-color: blue;*/
    padding: 1rem;
    /*width: 100%;*/
    /*height: 30%;*/
}

.confirm_informations_page .header .paper_header{
    /*flex:0.2;*/
    display:flex;
    /*background-color: blue;*/
    justify-content: space-around;
    align-items: center;

    /*padding: 1rem;*/
    /*width: 100%;*/
    height: 100%;
}

.confirm_informations_page .platform_viz{
    flex:1;
    /*background-color: blue;*/
    padding: 1rem;
    /*width: 100%;*/
    max-height: 30%;
}
.confirm_informations_page .platform_viz .card{
    flex : 1;
    height: 100%;
    text-align: center;
    font-weight: initial ;
}
.confirm_informations_page .model_viz{
    flex:1;
    padding: 1rem;
    max-height: 33%;
}
.confirm_informations_page .model_viz .card{
    flex : 1;
    height: 100%;
    text-align: center;
    font-weight: initial ;
}


.confirm_informations_page .matches_viz{
    flex:1;
    padding: 1rem;
    max-height: 33%;
}
.confirm_informations_page .matches_viz .card{
    flex : 1;
    height: 100%;
    text-align: center;
    font-weight: initial ;
}
.content_info{
    font-weight: lighter;
}