.create_model_page{
    /*background-color: red;*/
    flex:1;
    /*background-color: red;*/
    background-color: rgba(254, 205, 113, 0.07);
    width: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.create_model_page .upload_section{
    width: 95%;
    height: 10rem;
    max-height: 10%;
    margin: auto;
    margin-top : 1%;
    background-color: white;
    border: solid 1px #e3e3e3;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.create_model_page .upload_section .upload_div_separator{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    border: solid 1px #e3e3e3;
    /*margin: 10rem;*/
    /*align-content: space-between;*/
}

.create_model_page .model_view_div{
    margin: auto;
    margin-top : 1%;
    width: 95%;
    height: 80%;
    min-height: 80%;
}
.create_model_page .model_view_div .list_model_concept{
    margin: auto;
    margin-top : 1%;
    width: 95%;
    max-width: 95%;
    min-height: 80%;
    max-height: 80%;
    /*background-color: red;*/
    overflow: auto;
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*background-color: red;*/
}
.create_model_page .dataTablemodel{
    min-height: 10rem;
    background-color: white;
}
