.create_match_page{
    flex:1;
    /*background-color: red;*/
    background-color: rgba(254, 205, 113, 0.07);
    width: 100vh;
    height: 100vh;
}

.page_body{
    flex:1;
    /*background-color: red;*/
    width: 100%;
    height: 100%;
}


.create_match_page .info_div {
    background-color: rgba(169, 169, 164, 0.05);
    display: flex;
    height: 50%;
    /*max-width: 100%;*/
    width: 100%;
    flex-direction: row;
    position: relative;
    ;
    /*overflow: visible;*/
    /*justify-content: center;*/

}
.tree_list {
    padding-left: 3rem;
    display: flex;
    /*margin-right:2rem;*/
    flex-direction: column;
}

.tree_list > p {
    flex: 0 0 auto;
}

.create_match_page .table_div {
    /*flex:1 1 auto;*/
    background-color: white;
    width: 100%;
    height: 50%;
    /*background-color: aqua;*/
    flex-direction: row;
    display: flex;
}
.create_match_page .table {
    /*height: 10%;*/
    /*flex:1 1 auto;*/
    /*height: 3rem;*/

    width: 90%;
    height: 100%;
    /*background-color: aqua;*/
}
.create_match_page .header_table {
    /*height: 10%;*/
    /*flex:1 1 auto;*/
    /*height: 3rem;*/
    width: 10%;
    height: 100%;
    /*background-color: pink;*/
    /*justify-items: right;*/
    flex-direction: column;
    display: flex;
    /*justify-content: space-around;*/
}
.create_match_page .header_table>.button_div{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}
.create_match_page .header_table>p{
    position: relative;
    text-align: center;
    font-weight: bold;
    top: 0;
    border-top: solid 1px #e3e3e3;
    width:100%;
    /*height: 20%;*/
    margin: 0;
    flex:0 0 auto;

}