.register_platform{
    flex:1;
    /*background-color: red;*/
    background-color: rgba(254, 205, 113, 0.07);
    width: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
}


.register_platform .form_platform{
 /*background-color: red;*/
 width: 100%;
 height: 50%;
}
.register_platform .form_platform_header{
    /*background-color: blue;*/
    width: 100%;
    height: 5%;
    position: relative;
    /*text-align: center;*/
    /*line-height: auto;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/

    margin: 0;
    padding: 0;
}

.register_platform .form_platform_header>p {
    margin: 0;
    position: absolute;
    font-weight: bold;
    border-bottom: solid 1px #e3e3e3 ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register_platform .model_checkbox_div{
    flex-direction: column;
    display: flex;

}
.register_platform #customModel{
    font-weight: bolder;
    background-color: #121212;
    width: 100%;
}

/*.register_platform .model_checkbox_div .model_cascader{*/
/*    pointer-events: auto;*/
/*}*/