/*.sidebar_root {*/
/*    !*flex:1;*!*/
/*    background-color: #eeb004;*/
/*    !*height: 1000px;*!*/
/*}*/

.sidebar_root{
    /*flex:1;*/
    /*flex: 1 1 100%;*/
    /*min-height: 100%;*/
    width: 200px;
    /*min-height: 100%;*/
    height: 100%;
    /*flex:0 1 auto;*/
    flex-grow: inherit;
    flex-direction: column;
    position: relative;
    display: flex;
    overflow: hidden;
    border-right: solid 1px #e3e3e3;
    background-color: #f7f7f7;
}

.closed {
    width: 0rem;

}



.sidebar_root .sidebar_header{
    /*background-color: #ffffff;*/
    width: 100%;
    /*height: 12%;*/
    padding-bottom: 0.5rem;
    border-bottom: solid 1px #e3e3e3;

}



.sidebar_root .sidebar_header p{
    width: 50%;
    /*background-color: red;*/
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    text-align: center;
    position: relative;
    /*padding-right: 1rem;*/
}
.sidebar_root .sidebar_header input{
    width: 80%;
    /*background-color: red;*/
    margin-left: 10%;
    /*padding: auto;*/
    margin-right: 10%;
    font-weight: bolder;
    text-align: center;
    position: relative;
    /*padding-right: 1rem;*/
}
.sidebar_root .sidebar_header button{
    width: 80%;
    /*background-color: red;*/
    margin-left: 10%;
    /*padding: auto;*/
    margin-right: 10%;
    font-weight: bolder;
    text-align: center;
    /*padding-right: 1rem;*/
}

/*.sidebar_root .sidebar_header .button{*/
/*    position: absolute;*/
/*    width: 20%;*/
/*    height: 3rem;*/
/*    top: 0;*/
/*    right: 0;*/
/*    content: "✕";*/
/*    user-select: none;*/
/*}*/
.sidebar_root .sidebar_header .button:hover{
    background: #e3e3e3;
}

.sidebar_root .sidebar_header .button p{
    padding-left: 1rem;
}


.sidebar_root .sidebar_body{
    /*flex:1;*/
    height: 75%;
    overflow: auto;
}


.sidebar_root .sidebar_body ul {
    padding-left: 0;
}


.sidebar_root nav ul :hover {
    background: #e3e3e3;
}
.sidebar_root .sidebar_body nav li  {
    display: flex;
    width: 100%;
    flex:1;
    align-items: center;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 8px;
    color: inherit;
    margin-bottom: 5px;
}
.sidebar_root .sidebar_body nav li a {
    width: 100%;
    color: #121212;
    text-decoration: none;
}

.sidebar_root .sidebar_body nav li a:before{
    content:"•";
    margin-right: 4px;
}

.sidebar_root .sidebar_body nav ul >p :hover {
    /*background: #e3e3e3;*/
}
.sidebar_root .sidebar_body nav ul >p{
    /*background-color: red;*/
    text-align: center;
    font-weight: bold;
    width: 95%;
    pointer-events: none;
    margin-right: auto;
    margin-left: auto;
    /*position: center;*/

    /*border-radius: 90rem;*/
    /*flex: 0 0 auto;*/
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.09);

    /*border-bottom: solid 1px #e3e3e3;*/
}


.sidebar_root .sidebar_footer{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 10%;
    width: 200px;
    background-color: #f7f7f7;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding-top:1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-top: 2px solid #eeb004;
    border-right: solid 1px #e3e3e3;
}


.sidebar_root .sidebar_footer:before{
    margin-right: 10rem;
    position: relative;
    top: 1px;
    zoom:10%;
    content: url("../../public/logo_OSDN.svg");
}

.disabled:hover{
    /*background-color: grey;*/
    /*content: "DISABLED";*/
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
}
